<h4 class="ui-widgetd">&nbsp;<i class="icon-pencil icon-large"></i>&nbsp;<b><%= I18n.t(:edit_record_status, :value => @record_status.name) %> </b></h4>
<div class="module width_full">
<%= render 'form' %>
    </div>

