<% pmod = @capitalization_module.module_projects.first %>
<% unless current_module_project.nil? or pmod.nil? %>
  <% (current_module_project.id == pmod.id) ? select_pemodule = 'selected_module_project' : 'unselected_module_project' %>
<% end %>

<% unless @capitalization_module_project.nil? %>
  <tr>
    <td class="line_number">
      <h6 class="text-center">0</h6>
    </td>
    <td colspan="<%= @module_positions_x %>">
      <div class="<%= select_pemodule %> module_project_min <%= "#{@capitalization_module.alias}_#{@capitalization_module_project.position_x}_#{@capitalization_module_project.position_y}" %> text-center">
        <%= link_to @capitalization_module.title, activate_module_project_path(pmod) %>
      </div>
    </td>
  </tr>
<% end %>