<h2>ProjEstimate - Help</h2>
<div>
  <strong>User name</strong> : LDAP account user name or application user name.
</div>
<div>
  <strong>Open ID url</strong> : Not yet supported
</div>
<div>
  <strong>Password</strong> : LDAP account password or application password.
</div>
<div>
   <strong>No account</strong> ? You can also ask a new account to connect on our platform !
</div>
<div>
   <strong>Forgotten password ?</strong> Click to "Forgotten password" then follow instructions.
</div>
<div>
   You can find additional guidance <a href="http://vps13831.ovh.net:3000/projects/projestimate/wiki">here</a> or <a href="mailto:<%= load_admin_setting('notifications_email') %>">contact</a> the administrators.
</div>

<div>
  <%= link_to "Back", "" %>
</div>
