<%= simple_form_for @user, :url => password_reset_path(params[:id]) do |f| %>
  <%= f.input :password, :label => I18n.t('password') %>
  <%= f.input :password_confirmation, :label => I18n.t('password_confirmation') %>
  <div class="actions">
    <%= f.submit I18n.t('edit_password') %>
  </div>
<% end %>