.bundle
.project
.rvmrc
/Gemfile.lock
/db/*.sqlite3
/log/*.log
/log/*.pid
/tmp/
/.idea/
/config/database.yml
/config/sensitive_settings.yml
/config/initializers/master_data.rb
/db/schema.rb
projestimate.iws
Gemfile.local
/coverage
/solr/*
# Gemnasium gem configuration file
config/gemnasium.yml