<p><%= @user.name %></p>

<p>Nous vous confirmons l'activation de votre compte Projestimate.</p>
<p>Nous vous rappelons vos identifiants :
  <p>
    <p>login : <%= @user.login_name %></p>
    <p>password : password inchangé</p>
  </p>
</p>

<p>
  Bien cordialement
</p>

<p>
  L'équipe Projestimate
</p>

