<p><%= @user.name %></p>

<p>Nous vous confirmons la création de votre compte Projestimate.</p>
<p>
  Identifiant : <%= @user.user_name %>
  Mots de passe: <%= @user.password %>
</p>

<p>
  Bien cordialement
</p>

<p>
  L'équipe Projestimate
</p>

