<%= @user.name %>

Nous vous confirmons la validation de votre compte Projestimate.
Nous vous rappelons vos identifiants :

login : <%= @user.login_name %></p>
password : <%= @user.password %></p>

Bien cordialement

L'équipe Projestimate
