Bonjour <%= @user.name %>,

<p xmlns="http://www.w3.org/1999/html">
  Votre demande de création de compte a été bien prise en compte.
</p>
<p>
<p>Vos identitifiants sont</p>
<p>
  <p>login : <%= @user.login_name %></p>
  <p>password : <%= @user.password %></p>
</p>

<p>
  Votre compte n'est pas encore actif.
</p>

<p>
  Bien cordialement,

  L'équipe Projestimate
</p>