<p><%= @user.name %>,</p>

<p>Nous avons bien pris en compte votre demande.</p>
<p>
  Vous pouvez changer ce mot de passe en vous connectant sur la plateforme <%= edit_password_reset_url(@user.password_reset_token) %>.
</p>