<%= @user.name %>,

Nous avons bien pris en compte votre demande.
Vous pouvez changer ce mot de passe en vous connectant sur la plateforme <a href='<%= "http://#{SETTINGS['HOST_URL']}/password_resets/#{@user.password_reset_token}/edit" %>'> Projestimate platform</a>.