<h4 class="ui-widgetd">&nbsp;<i class="icon-pencil icon-large"></i>&nbsp;<b><%= I18n.t(:edit_project_security_level, :value => @project_security_level.name) %> </b></h4>
<div class="module width_full">
  <%= render 'form' %>
</div>
