<strong>&nbsp;<i class="icon-pencil icon-large" style="color:blue">&nbsp;<%= I18n.t(:edit_wbs_activity, :value => @wbs_activity.name) %></i></strong>
<div class="module width_full">
  <%= render 'form' %>
</div>