<div class="span12">
  <%= simple_form_for(@mpa) do |f| %>

    <%= f.input :in_out %>

    <div class="actions">
      <%= f.submit "Save", :class => "btn btn-success" %>
      <%= f.submit "Apply", :class => "btn btn-success" %>
    </div>
  <% end %>
</div>
