<h2>WBS Activity Elements</h2>

<div class="tabs">
  <ul>
    <li><a href="#tabs-1">Tree view</a></li>
    <li><a href="#tabs-2">Table view </a></li>
  </ul>

  <div id="tabs-1">
    <div class="well component_tree">
      <%=raw generate_activity_element_tree(@wbs_activity.wbs_activity_elements.first, "") %>
    </div>
  </div>

  <div id="tabs-2">
    <table class="table table-striped" >
      <tr>
        <th>Hierarchy</th>
        <th>Name</th>
        <th>Wbs activity</th>
        <th>Description</th>
        <th>Ancestry</th>
        <th>Status</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <% @wbs_activity_elements.each do |wbs_activity_element| %>
        <%= render :partial => 'wbs_activity_element', :object => wbs_activity_element %>
      <% end %>

    </table>
    <p>
     <%= will_paginate @wbs_activity_elements %>
    </p>

    <%= link_to 'New WBS Activity Element', new_wbs_activity_element_path(:activity_id => @wbs_activity.id), :class => "btn" %>
  </div>
</div>