<% if @related_projects.nil? || @related_projects.empty? %>
  <div class="alert alert-info" colspan="2"><%=raw "#{I18n.t(:notice_no_module_use_current_attribute, :value => @project)}" %></div>
<% else %>
  <table border="0" width="100%" class="table tablesorterPager table-striped table-bordered table-condensed">
    <tr>
      <th><%= I18n.t(:text_project_name) %></th>
    </tr>
    <% @related_projects.each do |project| %>
      <tr>
        <td>
          <span class='attribute_tooltip' title="<%= project.description %>"><%= raw link_to("#{project}", edit_pemodule_path(project)) %> </span>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
