<div class="component_tree">
  <% unless @project.nil? || @project.pe_wbs_project.nil? %>
      <%=raw generate_wbs(@project.pe_wbs_project.components.last.root, @project, "", 5) %>
  <% end %>
</div>