<div class="component_tree" id="project_wbs_product_section">
  <% unless @project.nil? || @project.pe_wbs_projects.products_wbs.first.nil? %>
    <%=raw generate_wbs_product(@project.pe_wbs_projects.products_wbs.first.pbs_project_elements.last.root, @project, '', 5) %>
  <% end %>
</div>