<div class="component_tree">
  <% unless @project.nil? || @project.pe_wbs_projects.wbs_product.first.nil? %>
      <%=raw generate_wbs(@project.pe_wbs_projects.wbs_product.first.pbs_project_elements.last.root, @project, "", 5) %>
  <% end %>
</div>