<h1>ProjEstimate</h1>
<p>
  <%= link_to "Version : x.y.z-string+build (checking for new release)", "http://projestimate.org/projects/pe/wiki/Download_and_ChangeLog" %>
</p>

<p>
  Copyright © <%= link_to "Projestimate", "http://projestimate.org/" %>
</p>

<p>
  ProjEstimate is open source and released under the terms of the GNU AGPL-v3 (GNU AGPL-v3 as a link to http://www.gnu.org/licenses/agpl-3.0.html)
  Some external component or contributions bundled with ProjEstimate may be published under other AGPLv3-compatible licenses.
  For these, please refer to the relevant source files and/or license files, in the source code tree.
</p>