<div class="tabs">
  <ul>
    <li><a href="#tabs-1"><%= I18n.t(:users) %> </a></li>
  </ul>

  <div id="tabs-1">

    <table border="0" width="100%">
      <tr>
        <td colspan=3 style="text-align:right;">
          <%= link_to I18n.t('new_user'), new_user_path, :class => 'btn' %>
        </td>
      </tr>
    </table>


    <div id="users" style="width:100%;overflow:auto;">
      <%= render :partial => 'users', :object => @users %>
    </div>

  </div>
</div>
<script>
    <%= render :partial => 'layouts/sort_date', :handlers => [:erb], :formats => [:js] %>
</script>

