

<div class="btn-box">

      <a href="/projects_global_params" class="item">
        <img src="assets/statics.png" alt="Messages">
        <span><%= t(:project_globals_parameters) %></span>
      </a>

      <a href="/estimations_params" class="item">
        <img src="assets/statics.png" alt="Settings">
        <span><%= t(:estimation_globals_parameters) %></span>
      </a>

      <a href="/organizationals_params" class="item">
        <img src="assets/statics.png" alt="Support">
        <span><%= t(:organizationals_parameters) %></span>
      </a>

      <a href="#" class="item">
        <img src="assets/statics.png" alt="Statics">
        <span><%= t(:estimations_models) %></span>
      </a>
</div>
