<h1>Global Parameters</h1>
Cette page permet la modification des paramétrer généraux.
Menu: Admin/Paramètres généraux (general setting)
Edition du message de Bienvenue [P1]
Premier mois de l’année fiscal [P ?]
Premier jour de la semaine (P ? TBD … est-ce nécessaire ? - préférence utilisateur ou préférence outil ?)
Adresse email de contact (email proposé sur la page d’aide de connexion :
Adresse email utilisée pour les notifications (réinitialisation de pwd, …)
Unité de mesure (pouvons-nous n’utiliser que le système métrique ? P ? TBD http://en.wikipedia.org/wiki/Metric_system, http://en.wikipedia.org/wiki/Imperial_units)