<h1>Projestimate Global Parameters</h1>
Cette page doit permettre la modification des paramètres généraux modifiables au moment de l’installation de ProjEstimate :
URL du Wiki ProjEstimate. Par défaut l’URL est celle du Wiki ProjEstimate (cf. chapitre « Le Wiki ProjEstimate » page 75)
URL des services ProjEstimate (cf. chapitre « Services » page 17)