<div id="main">
  <%# unless current_project.nil? or current_user.nil? %>
  <% if current_user && current_project %>
      <%= hidden_field_tag :project_id, current_project.id %>
      <%= render 'dashboard_inner' %>
  <% else %>
      <div><%= load_admin_setting('welcome_message') %></div>
  <% end %>
</div>