<div id="main">
  <% unless current_project.nil? or current_user.nil? %>
    <%= render :partial => "processus" %>
  <% else %>
    <div><%= load_admin_setting('welcome_message') %></div>
  <% end %>
</div>



