<h4 class="ui-widget">&nbsp;<i class="icon-pencil icon-large"></i>&nbsp;<b><%= I18n.t(:edit_pe_attribute, :value => @attribute.name) %> </b></h4>
<div class="module width_full">
  <%= render 'form' %>
</div>
