<%= form_tag "/add_wbs_activity_to_project", :method => :post, :id => "form_select_and_add_wbs_activity", :remote => true, :'data-update-target' => 'wbs_project_elements_section' do %>
    <p style="margin: 10px; ">
      <label>WBS-Activities</label>
      <%= select_tag "wbs_activity_element", options_for_select(@wbs_activity_elements.map{|i| [i.name, i.id] } ), :prompt => 'Select a WBS-Activity...' %>
      <%= hidden_field_tag :project_id,  @project.id  %>
      <%= submit_tag "ADD", :class => "btn" %>
    </p>
<% end %>