<h1>Edit <%= controller.controller_name.humanize.singularize.downcase %> </h1>
<div class="module width_full">

  <%= render 'form' %>

  <%= link_to 'Show', @project_category %> |
  <%= link_to 'Back', project_categories_path %>
</div>
