<div class="span12">
  <%= simple_form_for(@master_setting) do |f| %>

    <div >
      <%= f.input :key %><br />

      <%= f.input :value %><br />
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>