<div class="modal hide fade" id="edit_component" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Component <%= current_component.name %></h3>
  </div>
  <div class="modal-body">
    <div class="edit_component_inner">

    </div>
  </div>
</div>