<tfoot>
<th colspan="7" class="pager form-horizontal">
  <button type="button" class="btn first"><i class="icon-step-backward"></i></button>
  <button type="button" class="btn prev"><i class="icon-arrow-left"></i></button>
  <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
  <button type="button" class="btn next"><i class="icon-arrow-right"></i></button>
  <button type="button" class="btn last"><i class="icon-step-forward"></i></button>
  <select class="pagesize input-mini" title= "<%=I18n.t(:select_page_size)%>" >
    <option value="5">5</option>
    <option selected="selected" value="10">10</option>
    <option value="20">25</option>
    <option value="30">50</option>
    <option value="40">100</option>
  </select>
  <select class="pagenum input-mini" title="<%=I18n.t(:select_page_number)%>"></select>
</th>
</tfoot>