<% if flash[:warning] -%>
  <div class='alert pull-left'>
    <button type="button" class="close" data-dismiss="alert">X</button>
    <%= flash[:warning] -%>
  </div>
<% end -%>
<% if flash[:notice] -%>
  <div class='alert alert-success pull-left'>
    <button type="button" class="close" data-dismiss="alert">X</button>
    <%= flash[:notice] -%>
  </div>
<% end -%>
<% if flash[:error] -%>
  <div class='alert alert-danger pull-left'>
    <button type="button" class="close" data-dismiss="alert">X</button>
    <%= flash[:error] -%>
  </div>
<% end -%>