<%= form_tag({:controller => 'searches', :action => 'results'}, :remote => true, :class => "simple_form navbar-search pull-right") do -%>
  <div class="input-prepend">
    <span class="add-on"><img src="/assets/icn_search.png" /></span>
    <%= text_field_tag "search", "", :placeholder => I18n.t(:quick_search) , :class => "search-input span5" %>
    <span><%= submit_tag I18n.t(:search), :id => "quick_search_button", :style => "float:right;"%></span>
  </div>
<% end %>
