<a href="#myModal" role="button" class="btn btn-primary" data-toggle="modal">Send feedback</a>

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Send a feedback</h3>
  </div>
  <div class="modal-body">
    <%= simple_form_for :send_feedback, {:url => "/application/send_feedback" } do |f| %>
        <div class="form-horizontal">
          <%= f.input :user_name,:input_html => { :style=>"width:320px",:value => current_user.first_name + " " + current_user.last_name + " (" + current_user.email+ " )"}%>
          <%= f.input :type, :input_html => { :style=>"width:334px"}, :collection =>([["Problem", 0], ["Suggestion",1], ["Other",2]]) %>
          <%= f.input :description , :as=> :text,  :input_html => { :cols => 50, :rows => 5, :style=>"width:320px"}%>
        </div>
    <% end %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn">Send</button>
  </div>
</div>
<script>

    <% if allow_feedback? %>
        $(".btn-primary").show();
    <% else %>
        $(".btn-primary").hide();
    <% end %>
</script>