<!DOCTYPE html>
<html>
<head>
  <title>Projestimate</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tag %>

   <script type="text/javascript">
    $(document).ready(function() {

    $(".login_username").focus(function(){
        $(".login_username").val("");
    });

      $(".login_pw").focus(function(){
        $(".login_pw").val("");
    });

    setTimeout(hideFlashes, 5000);
    });
    var hideFlashes = function() {
      $("#login_error").fadeOut(2000);
    }
  </script>


</head>
<body>

<a href="http://projestimate.org">
  <img style="position: fixed; top: 0; right: 0; border: 0;" src="/assets/ribbon.gif" alt="Follow us">
</a>

  <div class="">
    <div class="">
      <div class="login_information">
        <%= render :partial => "sessions/new" %>
      </div>
    </div>
  </div>

<script>

</script>

</body>
</html>